
.team-button {
  border: none;
   color: white;
   padding: 10px 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
   border-radius: 8px;
   width: 400px;
   height: 300px;
   font-family: sans-serif;
   font-size: 40px;
   background-size: cover;
   width: 100%;
 }

 /* The Modal (background) */
 .modal {
   display: none;
   /* Hidden by default */
   position: fixed;
   /* Stay in place */
   z-index: 1;
   /* Sit on top */
   padding-top: 100px;
   /* Location of the box */
   left: 30%;
   top: 0;
   width: 58%;
   /* Full width */
   height: 100%;
   /* Full height */
   overflow: auto;
   max-width: 100%;
 }

 /* Modal Content */
 .modal-content {
   position: fixed;
   background-color: #fefefe;
   margin: auto;
   padding: 0;
   border: 1px solid #888;
   max-width: 100%;
   width: 260px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   -webkit-animation-name: animatetop;
   -webkit-animation-duration: 0.4s;
   animation-name: animatetop;
   animation-duration: 0.4s;
 }

#team-info {
  height: 100%;
}

 .stats-container {
  width: 100%; /* Adjust this value as needed */
  margin: 0 auto; /* This centers the container on the page */
}
 
 /* Add Animation */
 @-webkit-keyframes animatetop {
   from {
     top: -300px;
     opacity: 0
   }

   to {
     top: 0;
     opacity: 1
   }
 }

 @keyframes animatetop {
   from {
     top: -300px;
     opacity: 0
   }

   to {
     top: 0;
     opacity: 1
   }
 }

#gif-display {
  margin-top: 8px;
}

#yearSelector {
  font-size: 1.2em; /* Increase font size */
  padding: 10px 20px; /* Add some padding to make the button larger */
  background-color: #007bff; /* Change background color */
  color: #fff; /* Change text color */
  border: none; /* Remove border */
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer;
}

#yearSelector:hover {
  background-color: #0056b3; /* Change background color on hover */
}
  
/* Add the custom CSS code here */
    #yearSelector {
      font-size: 1.5em;
      padding: 10px 20px;
      background-color: #ab2b1f;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      width: 100%;
    }

    #yearSelector:hover {
      background-color: #7e2219;
    }

 /* The Close Button */
 .close {
   color: white;
   float: right;
   font-size: 28px;
   font-weight: bold;
 }

 .close:hover,
 .close:focus {
   color: #000;
   text-decoration: none;
   cursor: pointer;
 }

#scroll {
  overflow-y: scroll;
  scrollbar-width: thin;
}

#scroll::-webkit-scrollbar{
  width: 12px;
}

#scroll::-webkit-scrollbar-thumb {
  background-color: #888;
}

 .modal-header {
   background-position: center top;
   background-size: cover;
   height: 230px;
   color: white;
 }

 .modal-body {
   padding: 2px 16px;
 }

 .modal-footer {
   background-position: center bottom;
   background-size: cover;
   height: 224px;
   color: white;
 }

 .center-content {
   display: inline-block;
   text-align: center;
   margin-right: 13px;
   height: 80%;
 }

 @media screen and (max-width:800px) {
  #body {
    justify-content: flex-end;
    flex-direction: column-reverse;
    height: 50%;
    -webkit-overflow-scrolling: touch;
  }

  .team-button {
    width: 100%;
  }
 }
